body{
    margin: 0;
    margin-bottom: 10vh;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.deliver{
    margin-left: 5vw;
    margin-right: 20vw;
    margin-top: 10vh;
    border: rgb(231, 230, 230) 2px solid;
    box-shadow: 0px 0px 25px 10px #ebe9e9;
    padding: 10vh 3.5vw 10vh 3.5vw;
}
h1{
    font-size: 180%;
}
h2{
    font-size: 140%;
    font-weight: 600;
    margin-bottom: 6vh;
}
label{
    font-weight: 500;
    font-size: 105%;
    display: block;
}
h4{
    font-weight: 500;
    font-size: 105%;
    margin-bottom: 1.5vh;
    margin-top: 5vh;
}
input[type='text']{
    padding: 1.8vh 2vw 1.8vh 1vw;
    width: 40vw;
    border: #FF4600 solid 1px;
}
input[type='text']:focus{
    outline: #E50051;
    outline-width: 5px;
}
p{
    margin-top: 2px;
    font-size: 75%;
}
.left{
    margin-left: 5vw;
    margin-top: 10vh;
    border: rgb(231, 230, 230) 2px solid;
    box-shadow: 0px 0px 25px 10px #ebe9e9;
    padding: 8vh 3.5vw 10vh 3.5vw;
    width: 45vw;
}
h1{
    font-size: 180%;
    margin-bottom: 0.5vh;
}
p{
    margin-top: 0vh;
    font-size: 90%;
}
h2{
    font-size: 140%;
    margin-top: 10vh;
    margin-bottom: 2vh;
}
.input{
    display: block;
    flex-direction: column;
    width: 19vw;
    margin-bottom: 5vh;
}
input[type="radio"]{
    cursor: pointer;
}
input[type="radio"]:checked{
    background-color: #E50051;
}
h2{
    margin-bottom: 7vh;
    font-size: 150%;
}
h4{
    margin: 0vw;
    font-weight: 600;
    font-size: 95%;
}
p{
    margin-top: 0.4vh;
    font-size: 80%;
}
input[type="text"]{
    padding: 1.8vh 2vw 1.8vh 1vw;
    margin-top: 2vh;
    border: #FF4600 solid 1px;
}
input[type='text']:focus{
    outline: #E50051;
    outline-width: 5px;
}
.right{
    border: rgb(231, 230, 230) 2px solid;
    box-shadow: 0px 0px 25px 10px #ebe9e9;
    padding: 2vh 3.5vw 15vh 3.5vw;
    height: 10vh;
    margin-top: 10vh;
    margin-left: 6vw;
}
button{
    padding: 2.5vh 5vw 2.5vh 5vw;
    border-radius: 50px;
    background-color: #FF4600;
    color: #fff;
    border: none;
}
h6{
    font-weight: 400;
    font-size: 100%;
    margin-bottom: 3vh;
}
.payment{
    display: flex;
}